/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2018, 10:45:08 PM
    Author     : xmore mmohz
*/

#news_image_wrap{
   height: 244px;
  width: 257px;
 // margin-left: 116px;
  background-position: top;
  background-image: cover;
  background-image: 400px;
  background-position: center center;
  //border-radius: 16px;
 // background-color: #f5f5f5;
  //background-position-y: inherit;
  background-size: cover;
  background-repeat: no-repeat;
    }
    .input_wraps{
      // background-color: #f5f5f5;
       // border: 1px solid #e3e3e3;
        //height: 214px;
    }
    .product_camera{
     font-size: 34px;
    padding: 3px;
    /* margin: 70px; */
    text-align: center;
    position: relative;
    left: 2px;
    right: 28px;
    top: 96px;
    }
    .breadcrumbs{
        margin-top: 40px !important;
    }