<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <description>relative path to product images</description>
        <param-name>productImagePath</param-name>
        <param-value>images/ProductImages</param-value>
    </context-param>
    <!--
    <filter>
        <filter-name>SessionTimeoutFilter</filter-name>
        <filter-class>filter.SessionTimeoutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionTimeoutFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>Controller.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectUser</servlet-name>
        <servlet-class>Controller.SelectUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserStatus</servlet-name>
        <servlet-class>Controller.Admin.UpdateUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roles</servlet-name>
        <servlet-class>Controller.Roles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadProfile</servlet-name>
        <servlet-class>Controller.loadProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>Controller.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCityChartReport</servlet-name>
        <servlet-class>Controller.AjaxCityChartReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatus</servlet-name>
        <servlet-class>Controller.UpdateOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesReportServlet</servlet-name>
        <servlet-class>Controller.SalesReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewParties</servlet-name>
        <servlet-class>Controller.ViewParties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCategoryChartReports</servlet-name>
        <servlet-class>Controller.AjaxCategoryChartReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>ClientController.UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>Controller.DeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReturnedProduct</servlet-name>
        <servlet-class>Controller.AddReturnedProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportToWord</servlet-name>
        <servlet-class>Controller.ExportToWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeliveredOrders</servlet-name>
        <servlet-class>Controller.ViewDeliveredOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComposeSMS</servlet-name>
        <servlet-class>Controller.ComposeSMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCreateAccount</servlet-name>
        <servlet-class>ClientController.CustomerCreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesByDateReport</servlet-name>
        <servlet-class>Controller.SalesByDateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesReportByCity</servlet-name>
        <servlet-class>Controller.Reports.SalesReportByCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesReportsByCity</servlet-name>
        <servlet-class>Controller.SalesReportsByCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesByCategory</servlet-name>
        <servlet-class>Controller.SalesByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>Controller.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByLocation</servlet-name>
        <servlet-class>ClientController.SearchProductByLocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectUser</servlet-name>
        <url-pattern>/SelectUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserStatus</servlet-name>
        <url-pattern>/UpdateUserStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roles</servlet-name>
        <url-pattern>/Roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadProfile</servlet-name>
        <url-pattern>/loadProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCityChartReport</servlet-name>
        <url-pattern>/AjaxCityChartReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatus</servlet-name>
        <url-pattern>/UpdateOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReportServlet</servlet-name>
        <url-pattern>/SalesReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewParties</servlet-name>
        <url-pattern>/ViewParties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCategoryChartReports</servlet-name>
        <url-pattern>/AjaxCategoryChartReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReturnedProduct</servlet-name>
        <url-pattern>/AddReturnedProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportToWord</servlet-name>
        <url-pattern>/ExportToWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeliveredOrders</servlet-name>
        <url-pattern>/ViewDeliveredOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComposeSMS</servlet-name>
        <url-pattern>/ComposeSMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCreateAccount</servlet-name>
        <url-pattern>/CustomerCreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesByDateReport</servlet-name>
        <url-pattern>/SalesByDateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReportByCity</servlet-name>
        <url-pattern>/SalesReportByCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReportsByCity</servlet-name>
        <url-pattern>/SalesReportsByCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesByCategory</servlet-name>
        <url-pattern>/SalesByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByLocation</servlet-name>
        <url-pattern>/SearchProductByLocation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/home.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/product_details.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/product_summary.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/products.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/product_type.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/ViewproductByCategories.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/ViewProductsByMainCategory.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/ViewProductByLocations.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/register.jsp</url-pattern>
            <url-pattern>/AboutUs.jsp</url-pattern>
            <url-pattern>/ConsultationRequest.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/login.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/cart.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/checkout.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/customer.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/success.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/error.jsp</url-pattern>
            <include-prelude>/WEB-INF/pages/headerNavigation.jsp</include-prelude>
            <include-coda>/WEB-INF/pages/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
    <!-- Pay pal configuration -->
    <context-param>
        <param-name>authtoken</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>posturl</param-name>
        <param-value>http://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>returnurl</param-name>
        <param-value>http://localhost:8081/EMS/Paypal/success</param-value>
    </context-param>
    <context-param>
        <param-name>business</param-name>
        <param-value>ddd-simonmumo7@gmail.com</param-value>
    </context-param>
</web-app>
